<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search results</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Search Results</h1>
    <table>
        <thead>
        <tr>
            <th>IMDB ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Total Votes</th>
            <th>Average Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie :${movies}" class="movie-row">
            <td th:text="${movie.tconst}"></td>
            <td>
                <a th:href="'https://www.imdb.com/title/tt' + ${movie.tconst}" target="_blank">
                    <span th:text="${movie.primaryTitle}"></span>
                </a>
            </td>
            <td th:text="${movie.titleType}"></td>
            <td th:text="${movie.numVotes}"></td>
            <td th:text="${movie.averageRating}"></td>
            <td>
                <img th:src="${movie.posterUrl}" alt="Poster" style="width:100px; height:auto;">
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a th:if="${currentPage > 0 }" th:href="@{/search(primaryTitle=${primaryTitle}, page=${currentPage-1})}">
            Previous page
        </a>
        <span>Page <span th:text="${currentPage + 1}">

        </span> of <span th:text="${totalPages}"></span></span>
        <a th:if="${currentPage + 1 < totalPages}"
           th:href="@{/search(primaryTitle=${primaryTitle}, page=${currentPage + 1})}">
            Next
        </a>
    </div>
</div>
</body>
</html>